.vote__form {
    height: 95svh;
    width: 95svw;
    background-color: var(--clr-form);
    border-radius: 1rem;
    box-shadow: 1px -1px 10px -1px rgba(0,0,0,0.62);

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, 1fr);
    row-gap: 1rem;
    justify-items: center;
    align-items: center;

    & .form__title {
        font-size: 1.6rem;
    }

    & .wrapper > * {
        padding: 0 1rem 0 1rem;
        font-size: 1.25rem;
    }

    & input {
        width: 1rem;
        text-align: center;
    }
}

button {
    width: 50%;
    height: 4rem;
    font-weight: 600;
    font-size: 1.25rem;
    border: none;
    border-radius: 1rem;
    background-color: var(--clr-btn);
    color: white;
}

p {
    font-size: 1.5rem;
    font-weight: 600;
}