.vote__form {
    height: 100svh;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fill, 1fr);
    row-gap: 1rem;
    justify-items: center;
    align-items: center;

    & .form__title {
        font-size: 1.5rem;
    }

    & .wrapper > * {
        padding: 0 2rem 0 2rem;
    }

    & input {
        width: 1rem;
        text-align: center;
    }
}

button {
    width: 50%;
    height: 4rem;
    font-weight: 600;
    border: none;
    border-radius: 1rem;
    background-color: blue;
    color: white;
}